
div.circle-block {
    position: fixed;
    margin-top: 20px;
    margin-left: 10px;
}

div.animation-circle-1 {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color: darkslateblue;
    top: 5vh;
    left: 0;
    animation: my-animation 10s;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-direction: reverse;
    animation-iteration-count: infinite;

}

@keyframes my-animation {
    0% {
        left: 0;
        top: 5vh;
        background-color: darkslateblue;
        transform: rotateX(0deg) rotateY(0deg) ;
    }

    25% {
        left: 90vw;
        top: 5vh;
        background-color: burlywood;
        transform: rotateX(90deg) rotateY(90deg);
    }

    50% {
        left: 90vw;
        top: 50vh;
        background-color: aquamarine;
        transform: rotateX(180deg) rotateY(180deg);

    }
    75% {
        left: 0;
        top: 50vh;
        background-color: black;
        transform: rotateX(270deg) rotateY(270deg);
    }

    100% {
        left: 0;
        background-color: darkslateblue;
        transform: rotateX(360deg) rotateY(360deg);
    }
}

div.block-block {
    position: fixed;
    margin-top: 50px;
    margin-left: 10px;
}

div.animation-block-2 {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: darkslateblue;
    top: 40px;
    left: 0;
    animation: strange 8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: reverse;
    animation-iteration-count: infinite;



}
@keyframes strange {
    0% {
        transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
        background-color: darkslateblue;
        left: 0;
        top: 40px;
    }

    25% {
        transform: rotate(90deg) rotateX(90deg) rotateY(0deg);
        background-color: red;
        left: 90vw;
        top: 40px;
    }
    50% {
        transform: rotate(180deg) rotateX(180deg) rotateX(180deg);
        background-color: green;
        left: 90vw;
        top: 340px;
    }
    75% {
        transform: rotate(270deg) rotateX(270deg) rotateY(0deg);
        background-color: yellow;
        left: 0;
        top: 340px;
    }
    100% {
        transform: rotate(360deg) rotateX(360deg) rotateY(180deg);
        background-color: darkslateblue;
        left: 0;
        top: 40px;
    }
}

div.triangle-block {
    position: fixed;
    margin-top: 10px;
    margin-left: 0;
}

div.animation-triangle-3 {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border: 50px solid transparent;
    border-bottom: 100px solid red;
    animation: my-triangle 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}

@keyframes my-triangle {
    0% {
        left: 0;
        transform: rotateY(0deg);
        border-bottom-color: red;
    }
    25% {
        left: 23vw;
        transform: rotateY(180deg);
        border-bottom-color: darkgoldenrod;
    }

    50% {
        left: 46vw;
        transform: rotateY(0deg);
        border-bottom-color: red;
    }
    75% {
        left: 69vw;
        transform: rotateY(180deg);
        border-bottom-color: darkgoldenrod;
    }
    100% {
        left: 92vw;
        transform: rotateY(0deg);
        border-bottom-color: red;
    }
}


div.triangle-block-2 {
    position: fixed;
    bottom: 10px;
    left: 45vw;
}

div.animation-triangle-4 {
    position: absolute;
    height: 0;
    width: 0;
    bottom: 0;
    border: 50px solid transparent;
    border-top: 100px solid salmon;
    animation: my-triangle-2 4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes my-triangle-2 {
    0% {
        bottom: 0;
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        border-top-color: salmon;
    }
    25% {
        bottom: 17vh;
        transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
        border-top-color: black;
    }

    50% {
        bottom: 34vh;
        transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
        border-top-color: salmon;
    }
    75% {
        bottom: 51vh;
        transform: rotateX(270deg) rotateY(270deg) rotateZ(270deg);
        border-top-color: black;
    }
    100% {
        bottom: 68vh;
        transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
        border-top-color: salmon;
    }
}

